---
import { Image } from "astro:assets";
import appquantLogo from "@/assets/companies/appquant.webp";
import kynatechLogo from "@/assets/companies/kynatech.webp";
import pioneerLogo from "@/assets/companies/pioneer-dev-ai.webp";
import SectionTitle from "@/components/section-title.astro";
import Badge from "@/components/ui/badge.astro";

interface Experience {
  title: string;
  period: string;
  company: string;
  companyLogo?: ImageMetadata;
  companyLink?: string;
  employmentType: string;
  location: string;
  workMode: string;
  descriptions: string[];
  technologies: string[];
}

const experiences: Experience[] = [
  {
    title: "Full-Stack Engineer",
    period: "March 2026 - Present",
    company: "Pioneer Dev AI",
    companyLink: "https://pioneerdev.ai/",
    companyLogo: pioneerLogo,
    employmentType: "Full-time",
    location: "Boulder, Colorado, United States",
    workMode: "Remote",
    descriptions: [
      "Working as a Full-Stack Engineer across different products, including AI-powered ones, contributing end-to-end across frontend, backend, and infrastructure. Across the projects I work on, my contributions span from crafting sleek and intuitive UIs, building scalable backend systems and APIs, optimizing databases, and improving application performance",
      "Collaborate with experienced developers across different projects in a professional, fast-moving team environment, working within AI-assisted workflows, ticket-based development, PR-based code reviews, regular dev meetings, and disciplined engineering practices around commits, PRs, and code quality.",
    ],
    technologies: [
      "Next.js",
      "Prisma",
      "Supabase",
      "tRPC",
      "Trigger.dev",
      "Cloudflare",
      "Redis",
      "Sentry",
      "Langfuse",
      "Infisical",
      "AI Generation",
    ],
  },
  {
    title: "Software Developer",
    period: "May 2025 - Feb 2026",
    company: "AppQuant Technologies Inc.",
    companyLogo: appquantLogo,
    employmentType: "Full-time",
    location: "Pasig City, Philippines",
    workMode: "Remote",
    descriptions: [
      "Worked as a sole Founding Engineer for a startup, I led the end-to-end infrastructure and development of their core software products including a modern AI-Powered CRM. I developed products using Next.js, Prisma, Supabase and Vercel, while integrating various third-party services such as Stripe, Twilio, Resend and AI-integrations such as ElevenLabs and OpenAI.",
      "Collaborate personally with the founder, translating business requirements into technical solutions while adapting quickly to frequent shifts in direction.",
    ],
    technologies: [
      "Next.js",
      "Supabase",
      "Prisma",
      "Vercel",
      "OpenAI",
      "Elevenlabs",
      "Stripe",
      "Resend",
      "Twilio",
      "Shadcn",
    ],
  },
  {
    title: "Software Developer Intern",
    period: "May 2025 - Feb 2026",
    company: "Kynatech",
    companyLogo: kynatechLogo,
    companyLink: "https://kynatech.ph/",
    employmentType: "Internship",
    location: "Taguig City, Philippines",
    workMode: "Remote",
    descriptions: [
      "Interned in a mid-sized software development company, working within a multidisciplinary team of designers, full-stack developers, QA testers, DevOps engineers, project managers, and specialists across web, and mobile development.",
      "Completed a Timesheet Application project designed to develop industry-ready full-stack skills, with guidance and mentorship from senior engineers. Translated complex Figma designs into responsive, pixel-accurate interfaces while applying security standards, technical documentation, product testing, Agile practices, and established software development best practices.",
    ],
    technologies: ["Next.js", "Supabase", "Prisma", "Shadcn"],
  },
];
---

<section class="flex flex-col spacing-md">
  <SectionTitle text="Experiences" />

  <div class="flex flex-col spacing-lg">
    {
      experiences.map((experience) => (
        <article class="group flex flex-col spacing-md">
          <div class="flex flex-col spacing-xs lg:flex-row lg:items-center">
            {experience.companyLogo ? (
              <Image
                width={160}
                src={experience.companyLogo}
                draggable="false"
                loading="lazy"
                class="size-20 select-none border border-border object-cover outline-1 outline-dashed outline-transparent outline-offset-xs animation-normal group-hover:outline-border"
                alt={`${experience.company} logo`}
              />
            ) : (
              <div class="flex min-h-20 min-w-20 items-center justify-center border border-border bg-muted">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" class="size-10 text-primary/50"><path fill="currentColor" d="M2 2h14v4h6v16H2zm18 6h-4v2h2v2h-2v2h2v2h-2v2h2v2h2zm-6-4H4v16h2v-2h6v2h2zM6 6h2v2H6zm6 0h-2v2h2zm-6 4h2v2H6zm6 0h-2v2h2zm-6 4h2v2H6zm6 0h-2v2h2z"></path></svg>
              </div>
            )}
            <header class="w-full border-b border-dashed border-transparent padding-md animation-normal group-hover:border-border">
              <div class="flex flex-col justify-between lg:flex-row">
                <h2 class="font-semibold text-primary">{experience.title}</h2>
                <time class="text-primary">{experience.period}</time>
              </div>
              <div class="flex flex-col justify-between lg:flex-row">
                <div class="flex spacing-xs">
                  {experience.companyLink ? (
                    <a
                      href={experience.companyLink}
                      class="text-primary underline underline-offset-2"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {experience.company}
                    </a>
                  ) : (
                    <span class="text-primary">{experience.company}</span>
                  )}
                  <span>|</span>
                  <span>{experience.employmentType}</span>
                </div>
                <address class="flex spacing-xs not-italic">
                  <span>{experience.location}</span>
                  <span>|</span>
                  <span>{experience.workMode}</span>
                </address>
              </div>
            </header>
          </div>
          <section class="flex flex-col spacing-xs">
            {experience.descriptions.map((desc) => (
              <p>{desc}</p>
            ))}
          </section>
          <ul class="flex flex-wrap spacing-xs">
            {experience.technologies.map((tech) => (
              <li>
                <Badge name={tech} />
              </li>
            ))}
          </ul>
        </article>
      ))
    }
  </div>
</section>
